.formele{
  padding-top: 100px;
}
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
}

/* Label styling */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="radio"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

input[type="radio"] {
  width: auto;
  margin-right: 10px;
}

p {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
